/solr-9.2.0/bin/solr-8983.port
/solr-9.2.0/server/logs/2023_03_30.request.log
/solr-9.2.0/server/logs/solr.log
/solr-9.2.0/server/logs/solr.log.1
/solr-9.2.0/server/logs/solr.log.10
/solr-9.2.0/server/logs/solr.log.2
/solr-9.2.0/server/logs/solr.log.3
/solr-9.2.0/server/logs/solr.log.4
/solr-9.2.0/server/logs/solr.log.5
/solr-9.2.0/server/logs/solr.log.6
/solr-9.2.0/server/logs/solr.log.7
/solr-9.2.0/server/logs/solr.log.8
/solr-9.2.0/server/logs/solr.log.9
/solr-9.2.0/server/logs/solr_gc.log
/solr-9.2.0/server/logs/solr_gc.log.8
/solr-9.2.0/server/logs/solr-8983-console.log
/solr-9.2.0/server/tmp/start_11068657921270275401.properties
